{% extends 'careerapp/base.html' %}


{% block title %}
<title>careers</title>
{% endblock %}


{% block content %}
<!--div class="container-fluid"-->
  <div class="jumbotron">
    <div class="container">
      <h2> Your interests match the following Career Clusters:</h2>
      <p>(in order of preference)</p>
      <table class="table table-striped">
        <tbody>

            {% for cluster in clusters %}
            <tr>
            <td><h3>{{ cluster }}</h3></td>
            <!--td><button data-toggle="collapse.in" data-target="#iidemo">Interests Assessment</button></td-->
            </tr>

            {% endfor %}
          </tbody>
        </table>

  </div>
</div>

{% endblock %}
